*{
  margin:0;
  padding:0;
}
.LoginPage{
  display:flex;
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;}
#picture{
  background-image: url(./src/FrontEnd/login/picture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  
}
.signup-loginform{
  max-width:30%;
  min-height:100vh;
  #inputs{
    margin:1rem;
    margin-top:1rem;
    .userInfo{
        margin-top:1.5rem;
    }
    button{
        margin-top:2rem;
    }
  }
  
  h1{
      margin-top:3rem;
      margin-left:1rem;
  }
}

@media only screen and (max-width: 750px){
  #picture{
   display:none;
}
  .LoginPage{
   margin:0;
   padding:0;
   .signup-loginform{
    min-height:600px;
    //position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 100vw;
   min-height: 100vh;
   background-color: #222;
   margin:0;
   padding:0;
   .userInfo{
    display:block;
   }
   .glitch-wrapper{
    margin-top:50px;
   }
  }

}
  
}